@use "~@animman/tma/shared/styles/vars/colors";

.button-wrapper {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  width: 80px;
  height: 80px;

  margin-left: 50px;
  cursor: pointer;
}

.btn {
  width: 60px;
  height: 60px;

  background: colors.$primary-blue;
  border-radius: 15px;

  position: relative;
}

// .btn::after {
//   content: "";
//   position: absolute;

//   display: inline-block;
//   padding: 4px;

//   top: 50%;
//   left: 50%;

//   border: solid black;
//   border-radius: 1px;

//   border-width: 0 2px 2px 0;
//   transform: translate(-50%, -50%) rotate(-45deg);
// }
// .btn::before {
//   content: "";
//   position: absolute;

//   left: 50%;
//   top: 50%;

//   width: 2px;
//   height: 14px;

//   background-color: #1f1d2b;
//   border-radius: 50px;

//   transform: translate(-50%, -50%);
//   transform: rotate(45deg);
// }

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
