.img-wrapper {
	max-height: 100%;
	max-width: 425px;
	margin-block-end: 2.938rem;

	@media (max-height: 45.938rem) {
		margin-block-end: 2rem;
	}

	@media (max-height: 45rem) {
		margin-block-end: 1.5rem;
	}

	@media (max-height: 42.188rem) {
		height: 320px;
	}
	@media (max-height: 39.688rem) {
		height: 300px;
	}
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
