@use "~@animman/tma/shared/styles/vars/colors";

.button-wrapper {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  width: 5rem;
  height: 5rem;

  margin-left: 50px;
  cursor: pointer;
}

.btn {
  width: 3.75rem;
  height: 3.75rem;

  background: colors.$primary-blue;
  border-radius: 15px;

  position: relative;
}

.arrow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
