$primary-blue: #12cdd9;
$primary-dark: #1f1d2b;
$primary-soft-dark: #252836;

$secondary-green: #22b07d;
$secondary-orange: #ff8700;
$secondary-red: #ff7256;

$text-black: #171725;
$text-dark-grey: #696974;
$text-white-grey: #f1f1f5;
$text-grey: #92929d;
$text-line-dark: #eaeaea;
